/* TAILWIND CSS IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
body {
  font-family: 'Inter', sans-serif;
}

/* TYPOGRAPHY */

.garamond {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
}

/* LAYOUT */
.layout-padding {
  @apply mx-auto;
}

/* COLOR THEME */

.text-light {
  @apply text-white;
}

.text-dark {
  @apply text-black;
}

.text-primary {
  @apply text-[#262323];
}

.text-secondary {
  @apply text-[#cb8b24];
}

.text-tertiary {
  @apply text-[#403E34];
}

.bg-light {
  @apply bg-[#C3BFBB];
}

.bg-dark {
  @apply bg-[#4f4d4b];
}

.bg-variant {
  @apply bg-[#262323];
}

.border-primary {
  @apply border-[#4f4d4b];
}

.placeholder-primary {
  @apply placeholder-[#4f4d4b];
}

/* HEADER TEXT STYLES */

.header-text {
  font-size: clamp(3rem, 5vw, 4.75rem);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 900;
}

.header-text-mobile {
  font-size: clamp(3.75rem, 5vw, 4.75rem);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 900;
}

.about-header-text {
  font-size: clamp(3.75rem, 8vw, 9.5rem);
  line-height: clamp(3rem, 6vw, 8rem);
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}

/* BUTTON ANIMATION */

.link-item {
  @apply relative 
          after:content-[''] 
          after:absolute 
          after:bottom-0 
          after:left-[50%] 
          after:w-0 
          after:h-[1px] 
          hover:after:w-full 
          hover:after:left-[0%] 
          after:transition-all 
          after:duration-500 
          after:ease-in-out 
          after:transform 
          after:origin-left;
}

.pricing-btn-mobile {
  @apply border border-primary text-primary font-semibold py-2 px-5 self-start;
}

.pricing-btn {
  @apply relative
          z-[1]
          border border-primary py-2 px-5 self-start
          after:content-['']
          after:absolute
          after:bottom-0
          after:left-[50%]
          after:w-0
          after:h-full
          after:z-[-1]
          after:bg-[#262323]
          xl:hover:after:w-full
          hover:after:left-[0%]
          after:transition-all
          after:duration-500
          after:ease-in-out
          after:transform
          after:origin-left
          xl:hover:text-white
          transition-all
          duration-500
          ease-in-out
          transform
          hover:scale-105
          hover:shadow-lg;
}

/* MOBILE MENU TEXT */

.menu-text {
  font-size: clamp(1.5rem, 8vw, 2.5rem);
  line-height: clamp(1rem, 5vw, 2.5rem);
}

/* 404 TEXT */

.not-found {
  font-size: clamp(2.5rem, 5vw, 6rem);
  line-height: 1;
}

/* BURGER MENU & ANIMATION */
.menu-btn {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.menu-btn > div {
  width: 28px;
  height: 3px;
  margin: 3px;
  border-radius: 100px;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(0px) translateX(6px);
  transition: all 400ms ease-in-out;
}

.open:nth-child(2) {
  transform: rotate(-45deg) translateY(0px) translateX(6px);
  width: 28px;
  transition: all 400ms ease-in-out;
}

.close:nth-child(1) {
  transform: rotate(0) translateY(0);
  transition: all 400ms ease-in-out;
}

.close:nth-child(2) {
  width: 20px;
  margin-left: 10px;
  transition: all 400ms ease-in-out;
}
